$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.chart-area {
  @import "type";
  @import "highcharts";

  box-sizing: border-box;

  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 300px;
    margin-top: -10px;
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  & #chart-container-1 {
    .highcharts-yaxis-labels {
      fill: $slate-secondary-5;
      // use this to change the axis label
      & span:last-child {
        transform: translate (10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
    .highcharts-point {
      &:nth-child(2), &:nth-child(4), &:nth-child(5), &:last-child {
        fill: $purple-primary;
        stroke: $purple-primary;
      }
    }
    .highcharts-data-label {
      &:nth-child(9) {
        & text {
          transform: translate(0,20px)
        }
      }
      &:last-child {
        & text {
          transform: translate(0,-20px)
        }
      }
    }
  }
  
}

// @import "social";
