$breakpoint-sm: 540px;
$breakpoint-md: 660px;
$breakpoint-lg: 717px;

@mixin x-small {
  @media (max-width: #{$breakpoint-sm - 1px}) {
    @content;
  }
}

@mixin sm-md-xl {
  @media (min-width: #{$breakpoint-sm + 1px}) {
    @content;
  }
}

@mixin large {
  @media (width: #{$breakpoint-sm}) {
    @content;
  }
}

@import "colors";

.chart-area {
  @import "type";
  @import "highcharts";

  box-sizing: border-box;

  background-size: 100px;
  background-repeat: no-repeat;
  background-image:
    url(https://fm-static.cnbc.com/awsmedia/chart/2019/6/10/grow_leaves.1562793463706.png);
  background-position: bottom right;
  max-width: 660px;
  margin-bottom: 25px;
  font-family: $font-stack;

  & a {
    border-bottom: 1px solid $green-primary;
    color: $green-primary;
    text-decoration: none;
  }

  & .chart-title-social, & .grow-logo-social {
    display: none;
  }

  & .chart-container {
    width: 100%;
    height: 300px;
    margin-top: -10px;
  }

  & .grow-logo {
    width: 214px;
    margin-top: 20px;
  }

  & #chart-container-1 {
    margin-top: -50px;
    .highcharts-point {
      &:nth-child(2), &:nth-child(4), &:nth-child(5), &:last-child {
        fill: $purple-primary;
        stroke: $purple-primary;
      }
    }
    .highcharts-data-label {
      &:nth-child(9) {
        & text {
          transform: translate(0,20px)
        }
      }
      &:last-child {
        & text {
          transform: translate(0,-20px)
        }
      }
    }
  }

  & #chart-container-2 {
    @include x-small(){
      margin-bottom: 30px;
    }
    .highcharts-color-0 {
      fill: $purple-primary;
      stroke: $purple-primary;
    }
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        // transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
  }

  & #chart-container-3 {
    @include x-small(){
      margin-bottom: 40px;
    }
    .highcharts-grid-line {
      &:nth-child(5) {
        stroke: black;
      }
    }
    .highcharts-axis-line {
      display: none;
    }
  }

  & #chart-container-4 {
    @include x-small() {
      height: 400px;
    }
    .highcharts-color-0 {
      fill: $slate-secondary-3;
      stroke: $slate-secondary-3;
    }
    .highcharts-color-1 {
      fill: $slate-secondary-4;
      stroke: $slate-secondary-4;
    }
    .highcharts-color-2 {
      fill: $purple-secondary-3;
      stroke: $purple-secondary-3;
    }
    .highcharts-color-3 {
      fill: $purple-secondary-5;
      stroke: $purple-secondary-5;
    }
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:last-child {
        transform: translate(10px,0) !important;
        &:after {
          content: "%";
      }
      }
    }
  }

  & #chart-container-5 {
    @include x-small(){
      height: 450px;
      & .highcharts-axis-labels {
        background-color: white;
      }
    }
    .highcharts-yaxis-labels {
      // use this to change the axis label
      & span:first-child {
        &:after {
          content: "%";
      }
      }
    }
  }
  
}

@import "social";
